<!-- <div class="md:flex md:flex-wrap md:justify-around p-2 md:p-10 bg-blue-400">
    <div class="md:w-2/5 text-center bg-white m-1 md:p-4 text-2xl font-semibold tracking-tighter">
     <h1>
      Ivan Dario Trujillo Otero 
     </h1>
     <h2>
      VAN
     </h2>
    </div> -->
    <!-- 
    /*No necesario descomenta o puede generar error*/
    <div class="flex md:fl items-center justify-center  md:text-center bg-white m-1">
    <div class="flex flex-wrap items-center justify-center md:text-center bg-white m-1"> -->
<!-- <div class="md:w-2/5 text-center bg-white m-1 max-sm:flex max-sm:items-center max-sm:justify-center md:p-4 font-semibold text-2xl tracking-tighter">
     <h2>
      Desarrollador FullStack
     </h2>
     <h3>
      (IA)
     </h3>    
    </div>
</div>
<div class="flex items-center justify-center p-4 md:m-2 bg-blue-600">
    <h2 class="tracking-tighter font-bold text-2xl text-white">
      MeProjects 
    </h2>
</div>
<div>
  Aqui debe venir el carrrusel, van a estar los proyectos web o de escritorio
</div>
<div>
  Historia del usuario - Gustos y por que estoy en ing de software y demas! 
</div>
<div>
  Transition de imagenes
</div>
-->




<div class="bg-gray-950 p-11">
<div class="bg-blue-950 p-1 text-white font-extrabold text-5xl mt-2 flex items-center text-center justify-center m-6 content-around">
  <!-- <div class="bg-blue-950 p-3 flex"> -->
    <p>Hola</p><p #op class="opacity-0 transition-opacity duration-1000 ml-5">soy Van</p>
  <!-- </div> -->
</div>
<!-- <div class="md:flex md:flex-wrap md:justify-around p-2 md:p-10 bg-blue-400"> -->
  <!-- <div class="md:flex md:flex-wrap md:justify-around p-1 md:p-21 bg-black bg-gradient-to-r from-gray-950 via-gray-900 to-gray-950 text-center text-white font-bold rounded-lg shadow-lg" style="height: 380px;"> -->
<div>
  <!-- <div class="w-2/5 text-center bg-gray-900 bg-gradient-to-tr from-gray-950 via-gray-900 to-gray-950 md:mr-3 md:p-4 font-semibold text-2xl tracking-tighter text-gray-400 p-6"> -->
    <div class="md:flex md:flex-wrap max-sm:flex-wrap-reverse md:justify-center md:p-64 max-sm:h-96 mb-11 max-sm:mb-44">
      <!-- <div class="w-1/2 h-1/2 sm:w-1/2 m-0 max-sm:absolute text-white md:flex"> -->
      <div class="w-1/2 h-1/2 sm:w-1/2 max-s:top-96 m-0 max-sm:bottom-80 max-sm:left-16 absolute md:right-24 md:top-32 text-white md:flex max-s:bottom-52">
        <div class=" md:top-56 md:absolute">
          <!-- <div class="w-4/5 flex items-center justify-center text-center"> -->
          <div class="md:w-4/5 max-sm:ml-52 max-sm:p-1 flex items-center justify-center text-center right-0">
            <h2 class="mr-2">
              <!-- Ivan Dario Trujillo Otero  -->
              Ivan Otero 
            </h2>
             <h3 class="ml-6">
              Desarrollador FullStack
             </h3>
          </div>
          <div class="w-full max-sm:absolute max-sm:left-24">
            <p>
              Pensar en un futuro sin tecnologia, es una forma de cortar nuestras propias alas.
            </p>
             <!-- <h3>
              (IA)
             </h3> -->
          </div>
        </div>
      </div>
      <div class="m-0 absolute max-sm:left-28 top-24 max-sm:top-28 max-s:top-32 max-md:top-72 xl:left-60 2xl:left-72 mdd:left-40 max-md:left-52 lg:top-44 xl:top-72 lg:left-32 md:flex max-mdd:left-32">
        <div>
          <div>
            <app-tstthreejs></app-tstthreejs>
          </div>
        </div>
       <!-- <h2>
        Desarrollador FullStack
       </h2>
       <h3>
        (IA)
       </h3>     -->
      </div>
     <!-- <div class="md:w-1/2 sm:h-1/2 sm:w-1/2 m-0 sm:absolute sm:top-0">
      <div class="m-0">
        <h1>
          Ivan Dario Trujillo Otero 
         </h1>
         <h2>
          LOL
         </h2>
         <div>
          <h2>
            Desarrollador FullStack
           </h2>
           <h3>
            (IA)
           </h3>
         </div>
      </div> -->
    </div>

  <!-- 
    /*No necesario descomenta o puede generar error*/
    <div class="flex md:fl items-center justify-center  md:text-center bg-white m-1"> 
    <div class="md:w-2/5 text-center bg-white m-1 max-sm:flex max-sm:items-center max-sm:justify-center md:p-4">
    -->

    <!-- <div class="w-1/2">
      <div>
        <app-tstthreejs></app-tstthreejs>
      </div>
     <h2>
      Desarrollador FullStack
     </h2>
     <h3>
      (IA)
     </h3>    
    </div> -->
    
  <!-- descomenta esta primero <div class="text-center text-gray-500 py-4 px-6 rounded-lg shadow-lg flex flex-grow items-center md:ml-3 justify-center md:text-center font-semibold text-2xl tracking-tighter "> -->
  <!-- <div class="bg-gray-900 bg-gradient-to-tr from-gray-950 via-gray-900 to-gray-800 text-center text-gray-500 py-4 px-6 rounded-lg shadow-lg flex flex-grow items-center md:ml-3 justify-center md:text-centerfont-semibold text-2xl tracking-tighter "> -->
  
</div>
<!-- <div class="flex items-center justify-center p-4 md:m-2 bg-blue-600"> -->
<div class="flex items-center justify-center p-4 md:m-2 text-center font-bold py-4 px-6 rounded-lg shadow-lg bg-gradient-to-r bg-gray-400 from-gray-950 via-gray-900 to-gray-950">
  <h2 class="tracking-tighter font-semibold text-6xl text-white">
    MeProjects 
  </h2>
</div>
<div>

<div class="flex items-center justify-center h-full">
  <div class="w-full relative flex items-center justify-center">
    <button aria-label="slide backward" class="absolute z-30 left-0 ml-8 focus:outline-none p-4 bg-black focus:bg-gray-900 focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 cursor-pointer" (click)="goPrev()">
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <div class="h-full mx-auto overflow-x-hidden overflow-y-hidden bg-gray-950 p-7 md:p-11 ">
      <!-- <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"> -->
      <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
        <div class="h-full max-sm:w-11/12 md:w-full" *ngFor="let u of listUrlApp; let i= index;">
          <div class="md:w-11/12">
           <a href="{{listUrlAppA[i]}}" target="_blank">Ver proyecto</a>
           <app-card-app [urlProject]="u"></app-card-app> 
          </div>
        </div>
      </div>
    </div>
    <button aria-label="slide forward" class="absolute bg-black z-30 right-0 mr-8 w-11 p-4 focus:bg-gray-900 focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" (click)="goNext()">
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>



</div>
<div>
Historia del usuario - Gustos y por que estoy en ing de software y demas! 
</div>
<div>
Transition de imagenes
</div>





<!-- Aqui debe venir el carrrusel, van a estar los proyectos web o de escritorio -->
<div class="p-0">
  <!-- <h2>Carousel Example</h2>   -->
  <div id="myCarousel" class="w-auto carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <a href="https://yoproducer.netlify.app/app" target="_blank" class="w-2/6">Show</a>
      <div class="item active w-full">
        <!-- <img src="assets/descarga1.jpg" alt="Los Angeles" style="width:100%;"> -->
        <iframe src="https://yoproducer.netlify.app/app" class="w-full" height="518px" width="690px" frameborder="0"></iframe>
      </div>
      <a href="https://yoproducer.netlify.app/app" target="_blank" class="w-2/6">Show</a>
      <div class="item w-full">
        <!-- <img src="assets/descarga2.jpg" alt="Chicago" style="width:100%;"> -->
        <iframe src="https://reactproductss.netlify.app/" class="w-full" height="518px" width="390px" frameborder="0"></iframe>
      </div>
      <a href="https://yoproducer.netlify.app/app">Show</a>
      <div class="item w-full">
        <!-- <img src="assets/descarga1.jpg" alt="New york" style="width:100%;"> -->
        <iframe src="https://yoproducer.netlify.app/app" class="w-full" height="518px" width="390px" frameborder="0"></iframe>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!---->

<!-- <div class="border-spacing-16 flex flex-shrink-0 relative w-full sm:w-auto md:p-24 md:m-20"> -->
        <!-- <app-card-app ></app-card-app> -->
        <!-- <div class="border-spacing-16 flex flex-shrink-0 relative md:w-2/5 sm:w-1/2 md:p-20 md:m-3 bg-white hover:shadow-[0_20px_50px_rgba(255,255,255,0.5)] hover:scale-105 transition transform duration-300 ease-in-out shadow-[0_5px_39px_rgba(102,101,255,0.7)]"> -->
          <!-- <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table" class="object-cover object-center w-full" /> -->
          <!-- <iframe src="https://yoproducer.netlify.app/app" class="w-full" height="518px" width="690px" frameborder="0"></iframe> -->
          <!-- <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 1</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="flex flex-shrink-0 relative w-full sm:w-auto md:p-24 md:m-20"> -->
          <!-- <div class="flex flex-shrink-0 relative md:w-2/5 sm:w-1/2 md:p-20 md:m-3 bg-white"> -->
          <!-- <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area" class="object-cover object-center w-full" /> -->
          <!-- <iframe src="https://reactproductss.netlify.app/" class="w-full" height="518px" width="390px" frameborder="0"></iframe> -->
          <!-- <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="flex flex-shrink-0 relative w-full sm:w-auto md:p-24 md:m-20 border-gray-500"> -->
          <!-- <div class="flex flex-shrink-0 relative md:w-2/5 sm:w-1/2 md:p-20 md:m-3 border-gray-500 bg-white"> -->
          <!-- <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area" class="object-cover object-center w-full" /> -->
          <!-- <iframe src="https://yoproducer.netlify.app/app" class="w-full" height="518px" width="390px" frameborder="0"></iframe> -->
          <!-- <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="texlg:t-xl le leading-4 text-basealg:ding-tight text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div>
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
          <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area" class="object-cover object-center w-full" />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 2</h2>
            <div class="flex h-full items-end pb-6">
              <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
            </div>
          </div>
        </div> -->