<!-- <div class="border-spacing-16 flex flex-shrink-0 relative md:w-full sm:w-1/2 md:p-20 md:m-3 bg-white hover:h-full hover:shadow-[0_20px_50px_rgba(255,255,255,0.5)] hover:scale-105 transition transform duration-300 ease-in-out shadow-[0_5px_39px_rgba(102,101,255,0.7)] p-24"> -->
<div class="border-spacing-16 flex flex-shrink-0 relative md:w-full sm:w-3/4 md:p-20 md:m-3 bg-white hover:h-full hover:shadow-[0_20px_50px_rgba(255,255,255,0.5)] hover:scale-105 transition transform duration-300 ease-in-out shadow-[0_5px_39px_rgba(102,101,255,0.7)] p-1">
    <!-- <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table" class="object-cover object-center w-full" /> -->
    <!-- <iframe src="https://yoproducer.netlify.app/app" class="w-full" height="518px" width="690px" frameborder="0"></iframe> -->
    <!-- <iframe [src]="meUrlApp" class="w-full" height="518px" width="690px" frameborder="0"></iframe> -->
    <iframe [src]="meUrlApp" height="518px" frameborder="0"></iframe> 
    <!-- <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
      <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">Catalog 1</h2>
      <div class="flex h-full items-end pb-6">
        <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">Minimal Interior</h3>
      </div>
    </div> -->
  </div>
